@font-face { 
    font-family: Gotham-Rounded; 
    src: local("☺"), url("/assets/fonts/Gotham-Rounded.woff") 
         format("woff"), url("/assets/fonts/Gotham-Rounded.ttf") 
         format("truetype"), url("/assets/fonts/Gotham-Rounded.svg") 
         format("svg"); 
    font-style: normal; 
    font-weight: 400; 
    font-display: block;
}
@font-face { 
    font-family: devdojo; 
    src: url("/assets/fonts/devdojo.eot?#iefix") 
         format("embedded-opentype"), 
         url("/assets/fonts/devdojo.woff") 
         format("woff"), 
         url("/assets/fonts/devdojo.ttf") 
         format("truetype"), 
         url("/assets/fonts/devdojo.svg#devdojo") 
         format("svg"); 
    font-style: normal; 
    font-weight: 400; 
    font-display: block;
}